
dataset/mike_30_easy_jpg/.DS_Store
dataset/mike_30_easy_jpg/train/.DS_Store
dataset/mike_30_easy_jpg/train/00423122.jpg
dataset/mike_30_easy_jpg/train/00423126.jpg
dataset/mike_30_easy_jpg/train/00423130.jpg
dataset/mike_30_easy_jpg/train/00423134.jpg
dataset/mike_30_easy_jpg/train/00423136.jpg
dataset/mike_30_easy_jpg/train/00423138.jpg
dataset/mike_30_easy_jpg/train/00423139.jpg
dataset/mike_30_easy_jpg/train/00423140.jpg
dataset/mike_30_easy_jpg/train/00423141.jpg
dataset/mike_30_easy_jpg/train/00423143.jpg
dataset/mike_30_easy_jpg/train/00423305.jpg
dataset/mike_30_easy_jpg/train/00423306.jpg
dataset/mike_30_easy_jpg/train/00423327.jpg
dataset/mike_30_easy_jpg/train/00423328.jpg
dataset/mike_30_easy_jpg/train/00423329.jpg
dataset/mike_30_easy_jpg/train/00423330.jpg
dataset/mike_30_easy_jpg/train/00423331.jpg
dataset/mike_30_easy_jpg/train/00423332.jpg
dataset/mike_30_easy_jpg/train/00423333.jpg
dataset/mike_30_easy_jpg/train/00423334.jpg
dataset/mike_30_easy_jpg/train/00423335.jpg
dataset/mike_30_easy_jpg/train/00423336.jpg
dataset/mike_30_easy_jpg/train/00423337.jpg
dataset/mike_30_easy_jpg/train/00423338.jpg
dataset/mike_30_easy_jpg/train/00423339.jpg
dataset/mike_30_easy_jpg/train/00423340.jpg
dataset/mike_30_easy_jpg/train/00423341.jpg
dataset/mike_30_easy_jpg/train/00423342.jpg
dataset/mike_30_easy_jpg/train/00423343.jpg
dataset/mike_30_easy_jpg/train/00423344.jpg
dataset/mike_30_easy_jpg/train/mike.json
dataset/mike_30_easy_jpg/val/.DS_Store
dataset/mike_30_easy_jpg/val/00322599.jpg
dataset/mike_30_easy_jpg/val/00322711.jpg
dataset/mike_30_easy_jpg/val/00325452.jpg
dataset/mike_30_easy_jpg/val/00423138.jpg
dataset/mike_30_easy_jpg/val/00423142.jpg
dataset/mike_30_easy_jpg/val/mike.json
logs/voronoi20190417T0603/mask_rcnn_voronoi_0030.h5
